* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf
*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.rs text eol=lf
*.sql text eol=lf
*.svg text eol=lf
*.toml text eol=lf
*.ts text eol=lf
*.vue text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf

*.icns binary
*.ico binary
*.png binary
*.xlsx binary
